@font-face {
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    src: local('Aclonica'), local('Aclonica-Regular'), url(https://fonts.gstatic.com/s/aclonica/v6/VVH16EjBQLZ2NYB8eVnrO_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}